#App {
  background-color: #87cefa;
}

#App header {
  background-color: #222;
  color: #fff;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  align-items: center;
}

#App main {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5rem;
  padding-top: 10rem;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

#App header section {
  background-color: #e0ffff;
}

#App .widget {
  position: fixed;
  top: 9.6vh; 
  width: 100%;
  height: 9vh;
  background-color: #e0ffff;
  color: black;
  font-size: 1.5em;
  text-align: center;
  display: flex; /* enables centering */
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  box-sizing: border-box;
  z-index: 90;
  

#App #heartWidget {
  font-size: 1.5em;
  margin: 0em
}

#App span {
  display: inline-block
}

.red {
  color: #b22222
}

.orange {
  color: #e6ac00
}

.yellow {
  color: #e6e600
}

.green {
  color: green
}

.blue {
  color: blue
}

.purple {
  color: purple
}